In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('House_Rent_Dhaka.csv')

In [3]:
df.head()

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area
0,0,"Block H, Bashundhara R-A, Dhaka",1600,3,3,20000,Bashundhara
1,1,"Farmgate, Tejgaon, Dhaka",900,2,2,20000,Farmgate
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...",1250,3,3,18000,Mohammadpur
3,3,"Gulshan 1, Gulshan, Dhaka",2200,3,4,75000,Gulshan
4,4,"Baridhara, Dhaka",2200,3,3,75000,Baridhara

In [4]:
df.Area

0        Bashundhara
1           Farmgate
2        Mohammadpur
3            Gulshan
4          Baridhara
            ...
28782         Mirpur
28783    Bashundhara
28784      Motijheel
28785        Rampura
28786         Vatara
Name: Area, Length: 28787, dtype: object

In [16]:
# df['Area_code'] = pd.factorize(df.Area)[0]

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Area_code'] = le.fit_transform(df.Location)

In [6]:
df.head()

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area,Area_code
0,0,"Block H, Bashundhara R-A, Dhaka",1600,3,3,20000,Bashundhara,238
1,1,"Farmgate, Tejgaon, Dhaka",900,2,2,20000,Farmgate,328
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...",1250,3,3,18000,Mohammadpur,125
3,3,"Gulshan 1, Gulshan, Dhaka",2200,3,4,75000,Gulshan,345
4,4,"Baridhara, Dhaka",2200,3,3,75000,Baridhara,59

In [8]:
df.Area_code.value_counts()

461    757
451    556
194    417
296    414
212    411
      ...
387      1
258      1
199      1
109      1
3        1
Name: Area_code, Length: 729, dtype: int64

In [7]:
df.Area.value_counts()

Mirpur           8425
Mohammadpur      3427
Uttara           2070
Badda            1537
Bashundhara      1397
                 ...
Elephant Road       2
Sadarghat           2
Matuail             2
Banglamotors        2
Panthapath          1
Name: Area, Length: 75, dtype: int64

In [9]:
df.to_csv('House_Rent_Dhaka_with_Categorical_to_AreaCode.csv', header=True, index=False)