In [41]:
import pandas as pd

In [42]:
from sklearn.model_selection import train_test_split

In [153]:
house_rents = pd.read_csv('houserentdhaka_edited.csv')

In [154]:
house_rents.columns

Index(['Serial No', 'Location', 'Apartment_size', 'Bed', 'Bath', 'Price',
       'Area'],
      dtype='object')

In [155]:
house_rents.head()

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area
0,0,"Block H, Bashundhara R-A, Dhaka","1,600 sqft",3,3,20 Thousand,NaN
1,1,"Farmgate, Tejgaon, Dhaka",900 sqft,2,2,20 Thousand,NaN
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...","1,250 sqft",3,3,18 Thousand,NaN
3,3,"Gulshan 1, Gulshan, Dhaka","2,200 sqft",3,4,75 Thousand,NaN
4,4,"Baridhara, Dhaka","2,200 sqft",3,3,75 Thousand,NaN

In [156]:
X = house_rents[['Serial No', 'Location', 'Apartment_size', 'Bed', 'Bath']]
y = house_rents['Price']

In [157]:
Thousand = 'Thousand'
Thousand_house = house_rents.loc[house_rents['Price'].str.contains(Thousand, case=False)]
Lakh = 'Lakh'
Lakh_house = house_rents.loc[house_rents['Price'].str.contains(Lakh, case=False)]
print(Thousand_house)

       Serial No                                           Location  \
0              0                    Block H, Bashundhara R-A, Dhaka
1              1                           Farmgate, Tejgaon, Dhaka
2              2  Block B, Nobodoy Housing Society, Mohammadpur,...
3              3                          Gulshan 1, Gulshan, Dhaka
4              4                                   Baridhara, Dhaka
...          ...                                                ...
28795       4795                           Section 2, Mirpur, Dhaka
28796       4796                    Block F, Bashundhara R-A, Dhaka
28797       4797         RK Mission Road, Gopibag, Motijheel, Dhaka
28798       4798                Ullan, West Rampura, Rampura, Dhaka
28799       4799                               Vatara, Badda, Dhaka

      Apartment_size  Bed  Bath        Price  Area
0         1,600 sqft    3     3  20 Thousand   NaN
1           900 sqft    2     2  20 Thousand   NaN
2         1,250 sqft    3     3  18 Thousand   NaN
3         2,200 sqft    3     4  75 Thousand   NaN
4         2,200 sqft    3     3  75 Thousand   NaN
...              ...  ...   ...          ...   ...
28795     1,400 sqft    3     2  15 Thousand   NaN
28796     1,400 sqft    3     3  25 Thousand   NaN
28797     1,250 sqft    3     3  23 Thousand   NaN
28798     1,900 sqft    3     3  30 Thousand   NaN
28799     1,150 sqft    3     2  15 Thousand   NaN

[28442 rows x 7 columns]

In [158]:
for i in house_rents['Price']:
    if 'Thousand' in str(i):
        x = str(i).split(" ")
        house_rents['Price'] = house_rents['Price'].replace([i], float(x[0])*1000)
    elif 'Lakh' in str(i):
        x = str(i).split(" ")
        house_rents['Price'] = house_rents['Price'].replace([i], float(x[0])*100000)
print(house_rents.head())

   Serial No                                           Location  \
0          0                    Block H, Bashundhara R-A, Dhaka
1          1                           Farmgate, Tejgaon, Dhaka
2          2  Block B, Nobodoy Housing Society, Mohammadpur,...
3          3                          Gulshan 1, Gulshan, Dhaka
4          4                                   Baridhara, Dhaka

  Apartment_size  Bed  Bath    Price  Area
0     1,600 sqft    3     3  20000.0   NaN
1       900 sqft    2     2  20000.0   NaN
2     1,250 sqft    3     3  18000.0   NaN
3     2,200 sqft    3     4  75000.0   NaN
4     2,200 sqft    3     3  75000.0   NaN

In [159]:
house_rents.head()

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area
0,0,"Block H, Bashundhara R-A, Dhaka","1,600 sqft",3,3,20000.0,NaN
1,1,"Farmgate, Tejgaon, Dhaka",900 sqft,2,2,20000.0,NaN
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...","1,250 sqft",3,3,18000.0,NaN
3,3,"Gulshan 1, Gulshan, Dhaka","2,200 sqft",3,4,75000.0,NaN
4,4,"Baridhara, Dhaka","2,200 sqft",3,3,75000.0,NaN

In [160]:
house_rents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28800 entries, 0 to 28799
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Serial No       28800 non-null  int64
 1   Location        28800 non-null  object
 2   Apartment_size  28800 non-null  object
 3   Bed             28800 non-null  int64
 4   Bath            28800 non-null  int64
 5   Price           28800 non-null  float64
 6   Area            0 non-null      float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.5+ MB

In [161]:
for i in house_rents['Apartment_size']:
    x = str(i).split(" ")
    x_string = x[0].split(",")
    x_int = "".join(x_string)
    # house_rents['Price'] = house_rents['Price'].replace([i], float(x[0])*1000)
    house_rents['Apartment_size'] = house_rents['Apartment_size'].replace([i], int(x_int))

print(house_rents.head())

   Serial No                                           Location  \
0          0                    Block H, Bashundhara R-A, Dhaka
1          1                           Farmgate, Tejgaon, Dhaka
2          2  Block B, Nobodoy Housing Society, Mohammadpur,...
3          3                          Gulshan 1, Gulshan, Dhaka
4          4                                   Baridhara, Dhaka

   Apartment_size  Bed  Bath    Price  Area
0            1600    3     3  20000.0   NaN
1             900    2     2  20000.0   NaN
2            1250    3     3  18000.0   NaN
3            2200    3     4  75000.0   NaN
4            2200    3     3  75000.0   NaN

In [162]:
house_rents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28800 entries, 0 to 28799
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Serial No       28800 non-null  int64
 1   Location        28800 non-null  object
 2   Apartment_size  28800 non-null  int64
 3   Bed             28800 non-null  int64
 4   Bath            28800 non-null  int64
 5   Price           28800 non-null  float64
 6   Area            0 non-null      float64
dtypes: float64(2), int64(4), object(1)
memory usage: 1.5+ MB

In [163]:
areas = ['Uttara',
         'Pallabi',
         'Kazipara',
         'Kafrul',
         'Agargaon',
         'Sher- E- Banglanagar',
         'Cantonment',
         'Banani',
         'Gulshan',
         'Mohakhali',
         'Bashundhara',
         'Bashundhara R-A'
         'Banasree',
         'Baridhara',
         'Uttar Khan',
         'Dakshin Khan',
         'Bawnia',
         'Khilkhet',
         'Tejgaon',
         'Farmgate',
         'Mohammadpur',
         'Rampura',
         'Badda',
         'Satarkul',
         'Beraid',
         'Khilgaon',
         'Vatara',
         'Gabtali',
         'Hazaribagh',
         'Dhanmondi',
         'Ramna',
         'Motijheel',
         'Sabujbagh',
         'Lalbagh',
         'Kamalapur',
         'Kamrangirchar',
         'Islampur',
         'Sadarghat',
         'Wari',
         'Kotwali',
         'Sutrapur',
         'Jurain',
         'Dania',
         'Demra',
         'Shyampur',
         'Nimtoli',
         'Matuail',
         'Shahbagh',
         'Nikunja',
         'Kalachandpur',
         'Mirpur',
         'Maghbazar',
         'Malibagh',
         'Adabor',
         'Paribagh',
         'Hazaribag',
         'Paltan',
         'Ibrahimpur',
         'Jatra Bari',
         'Kakrail',
         'Niketan',
         'Bashabo',
         'Banasree',
         'Aftab Nagar',
         'Lalmatia',
         'Eskaton',
         'Shegunbagicha',
         'Shantinagar',
         'Shyamoli',
         'Kalabagan',
         'Kuril',
         'Nadda',
         'Maniknagar',
         'Shiddheswari', 
         'Hatirpool',
         'Bangshal',
         'Mugdapara',
         'Shahjahanpur',
         'Kachukhet',
         'Joar Sahara',
         'Turag',
         'Madartek',
         'Kadamtala',
         'Kathalbagan',
         'New Market',
         'Katabon',
         'Taltola',
         'Elephant Road',
         'Banglamotors',
         'Zafrabad',
         'Panthapath',
         'Keraniganj',
        ]

obj = {}

for a in areas:
    obj[a] = list()

print(len(obj))

91

In [164]:
for k, v in obj.items():
    for i in range(len(house_rents['Location'])):
        if k in house_rents['Location'][i]:
            house_rents['Area'][i] = k
            v.append(i)

<ipython-input-164-6060b6e83af1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_rents['Area'][i] = k
C:\Users\maloy\anaconda3\envs\tensor_gpu\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [165]:
house_rents.head(20)

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area
0,0,"Block H, Bashundhara R-A, Dhaka",1600,3,3,20000.0,Bashundhara
1,1,"Farmgate, Tejgaon, Dhaka",900,2,2,20000.0,Farmgate
2,2,"Block B, Nobodoy Housing Society, Mohammadpur,...",1250,3,3,18000.0,Mohammadpur
3,3,"Gulshan 1, Gulshan, Dhaka",2200,3,4,75000.0,Gulshan
4,4,"Baridhara, Dhaka",2200,3,3,75000.0,Baridhara
5,5,"Bashundhara R-A, Dhaka",3000,4,5,50000.0,Bashundhara
6,6,"Baridhara, Dhaka",2300,3,3,75000.0,Baridhara
7,7,"PC Culture Housing, Mohammadpur, Dhaka",950,2,2,14000.0,Mohammadpur
8,8,"Jigatola, Hazaribag, Dhaka",1600,3,3,28000.0,Hazaribag
9,9,"West Kazipara, Mirpur, Dhaka",1150,3,3,19000.0,Mirpur
10,10,"Block D, Bashundhara R-A, Dhaka",1300,3,3,40000.0,Bashundhara
11,11,"Block J, Bashundhara R-A, Dhaka",1250,3,3,19000.0,Bashundhara
12,12,"Block D, Bashundhara R-A, Dhaka",1300,3,3,60000.0,Bashundhara
13,13,"Nikunja 2, Nikunja, Dhaka",750,2,2,16000.0,Nikunja
14,14,"Sector 6, Uttara, Dhaka",1850,3,3,40000.0,Uttara
15,15,"Block D, Bashundhara R-A, Dhaka",1300,3,3,35000.0,Bashundhara
16,16,"Khilgaon, Dhaka",1200,3,3,18000.0,Khilgaon
17,17,"Block K, Baridhara, Dhaka",3000,4,4,160000.0,Baridhara
18,18,"Ibrahimpur, Dhaka",1050,3,3,25000.0,Ibrahimpur
19,19,"Ibrahimpur, Dhaka",1050,3,3,25000.0,Ibrahimpur

In [198]:
count_nan = set()
for i in range(len(house_rents['Area'])):
    if house_rents['Area'][i] not in obj.keys():
        print(house_rents['Location'][i],':', i)

KeyError: 1195

In [203]:
house_rents.to_csv('House_Rent_Dhaka.csv', header=True, index=False)

In [150]:
len(house_rents)

28799

In [206]:
len(obj.keys())

91

In [149]:
house_rents[:][1195:1196]

,Serial No,Location,Apartment_size,Bed,Bath,Price,Area
1196,1196,"Baridhara, Dhaka",3000,4,5,250000.0,Baridhara

In [54]:
olpo_location = []
for k, v in obj.items():
    for i in house_rents['Location']:
        if k in i:
            house_rents['Area']
            v.append(i)
    
# for loc in house_rents['Location']:
#     c = 0
#     for k, v in zip(obj.keys(), obj.values()):
#         if loc.find(k) != -1:
#             c = 1
#             obj[k].append(loc)

55

In [57]:
counter_empty_list = 0
total_places = 0
for c in obj.keys():
    if len(obj[c]) == 0:
        counter_empty_list += 1
    else:
        total_places += len(obj[c])

# for k, v in zip(obj.keys(), obj.values()):
#     # if len(v) == 0:
#     #     print(k)
#     for s in house_rents['Location']:
#         if s not in v:
#             print(s)
#             print('\n')


print(total_places)
print(len(house_rents['Location']))

25915
28800

In [10]:
house_rents.columns

Index(['Serial No', 'Location', 'Apartment_size', 'Bed', 'Bath', 'Price'], dtype='object')

In [11]:
X = house_rents[['Serial No', 'Location', 'Apartment_size', 'Bed', 'Bath']]
y = house_rents['Price']